@font-face {
    font-family: Pokemon;
    src: url("../public/Pokemon-Solid.ttf");
}

#pokemon-display {
    position: absolute;
    top:120px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center; 
    justify-content: space-evenly;
    background-image: url("../public/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: relative;
}

#pokemon-display>* {
    flex: 0 0 16.666%;
}

body {
    background-color: #93C47D;
    }

.indiv-card {
    border-style: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    background-color: bisque;
    text-align: center;
}

#navBar {
    background-color: #E9967A;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    font-family: Pokemon;
    font-size: 20px;
}

.link {
    padding: 20px;
}

#search-form {
    margin: 20px auto;
    width: 100%;
    max-width: 50%;
    height: 60px; 
    text-align: center; 
    margin-top: 90px;
}

#home-page {
    background-image: url(../public/giorgio-trovato-W7KDN4OB_zI-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    opacity: 0.7;
}

#home-page-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke: 1px navy;
    opacity: 1.7;
    font-family: Pokemon;
    text-shadow: 3px 3px black;
}

#userfront-logout-button {
    font-size: 100px;
    position: absolute;
}

#deck-display {
    position: relative;
    top:120px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center; 
    justify-content: space-evenly;
    background-image: url("../public/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
    top:auto;
    overflow: hidden;
}

#deck-display>* {
    flex: 0 0 16.666%;
}
