@font-face {
    font-family: Pokemon;
    src: url("../public/Pokemon-Solid.ttf");
}
@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);



#pokemon-display {
    position: absolute;
    top:120px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center; 
    justify-content: space-evenly;
    background-image: url("../public/bahnijit-barman-1fZC2rYbpsU-unsplash.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: relative;
}

#pokemon-display>* {
    flex: 0 0 16.666%;
}

body {
    background-color: #7046ee;
    }

.indiv-card {
    border-style: solid;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    
    background-color: bisque;
    text-align: center;
}

#navBar {
    background-color: #7046ee;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
    font-size: 20px;
    
}

.link {
    padding: 20px;
    color: white;
    text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     text-decoration: none;
     
}
.link:hover {
    color:red;
    animation: spring 300ms ease-out;
    


}

#search-form {

    margin: 20px auto;
    width: 100%;
    max-width: 50%;
    height: 60px; 
    text-align: center; 
    margin-top: 90px;
}

#home-page {
    background-image: url(../public/giorgio-trovato-W7KDN4OB_zI-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    opacity: 0.7;
}

#home-page-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke: 1px navy;
    opacity: 1.7;
    font-family: Pokemon;
    text-shadow: 3px 3px black;
}

#userfront-logout-button {
    font-size: 100px;
    position: absolute;
}

#deck-display {
    position: absolute;
    top:120px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center; 
    justify-content: space-evenly;
}

#deck-display>* {
    flex: 0 0 16.666%;
}
