#pokemon-display {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
#pokemon-display>* {
    flex: 0 0 16.666%;
}

.indiv-card {
    border-style: solid;
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
}